
th, td{
    text-align: left;
    border-bottom: 1px solid black;
    padding: 8px;
}

table{
    border-collapse: collapse;
    width:  70%;
}
.details{
    text-align: center;
    color: white;
}
.displayTable{
    margin-left: 20%;
}

@media screen and (max-width : 700px) {

    .details{
        text-align: center;
        color: black;
    }
    tr{
        color: black;        
    }
}