input[type=text]{
    width: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: white;
    background-image: url('search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
button{
    height: 46px;
    width: 80px;
}
button:hover{
    background-color: #263238;
    color: white;
}
button:active{
    background-color: #009688;
}

#content{
    position: absolute;
    left: 0;
    top: 16%;
    width: 100%;
    text-align: center;
}
.renderCourse{
    position: absolute;
    top: 34%;
    width: 70%;
    
}
p{  color: white;
    font-family: Courier New, Courier, monospace;
    font-size: 17px;
   
}
@media screen and (max-width : 700px){

    #content{
        position: absolute;
        left: 0;
        top: 30%;
        width: 100%;
        text-align: center;
    }
    .renderCourse{
        position: absolute;
        top: 55%;
        width: 90%;


    }
    p{
        color: black;
    }
       
}