/*computer science css*/


#displayCourse
{
    margin-left : 30%;
    margin-top: 0
}
.title{
    display: flex;
    flex-direction: row
}

.courseDescription{
    color:white
}
@media screen and (max-width : 850px)
{
    .title{
        display: flex;
        flex-direction: column
    }
    #displayCourse
    {
        margin-left: 2%
    }

    .courseDescription{
        color:black
    }
    #scinceDesc{
        color:black
    }
    
}
/*sciences css*/

#scinceDesc{
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center
}
.scienceHeader{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center
}

#departments{
    text-align: center;
    width: 18%;
    font-size: 17px;
    margin-left: 41%;
    font-weight: bold;
}
.comCoursesHeader{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 3%

}
.courses{
    list-style: none;
    border: 1px solid black;
    width: 7em;
    text-align: center;
    margin-bottom:4%;
    padding :1%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.32em;
}
.courses:hover{
    cursor: pointer;
    background-color: #212121;
    color:white;
}


@media screen and (max-width : 1500px){
    
        #departments{
            width: 20%;
            font-size: 12px;
            margin-left: 40%;
        }
        
    }

@media screen and (max-width : 700px){

    #departments{
        width: 50%;
        font-size: 12px;
        margin-left: 25%;
    }
    
}

/*delete course css*/
#renderedCourse{
    margin-top : 4%;

}
.delete{
    background-color: #e53935;
    border-radius: 8px;
    border : 1px solid red;
    margin-left : 2%;
    color: black !important;
}
.coursesToBeDeleted{
    display: flex;
    flex-direction: row;

}

#courseTitle{
    font-family: 'Times New Roman', Times, serif;
    font-size : 2em;
    text-align: center
}

li.courseCode{
    margin-top: 1.5em;
    list-style-type: none;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif

}
.delete:hover{
    background-color: #f44336;
    color: white !important;
}

@media screen and (max-width : 750px)
{
    .coursesToBeDeleted{
        display: flex;
        flex-direction: column
    }
}
/*FAlcuties css and adminLinks*/
.falcutySC, .adminLinkDel{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 6px;
    border: 2px solid #263238;
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    font-size: 25px;
    position: absolute;
    left: 38%;
    top: 30%;
    background-color: #263238;
    color: white;
    
}

.falcutySS,.adminLinkAdd{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 6px;
    border: 2px solid #263238;
    font-family: 'Times New Roman', Times, serif;
    width: 20%;
    font-size: 25px;
    position: absolute;
    left: 38%;
    top: 45%;
    background-color: #263238;    
    color: white;
}

.falcutySS:hover, .adminLinkAdd:hover,.adminLinkDel:hover, .falcutySC:hover{
    text-decoration: none;
    background-color: black;
    color: white;
    
}


@media screen and (max-width : 700px){
    .falcutySS,.adminLinkDel, .falcutySC,.adminLinkAdd{
        position: relative;
        top: 30%;
        font-size: 17px;
        color: white;
        border : none;
        padding : 1%;
        margin: 3%;
    
    }

    .falcutySS:hover, .falcutySC:hover{
        text-decoration: none;
        background-color: black;
        color: white;
    
    }
}
/*Header css */
.navbar{
    min-height: 10px;
    background-color: #263238;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    box-shadow: 10px 10px 5px grey;
    border: 2px solid #ECEFF1;
    
}
.linksWebName{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-weight: bold;
    color: white;
}
.linksWebName:hover{
    text-decoration: none;
    color: white;
}
.links{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 9%;
    color: white;
    padding:12px 10px 12px 10px;

    

}
.links:hover{
    text-decoration: none;
    border-radius: 2px;
    background-color: #212121;
    color: white;
    border : 1px solid none   
}

.links:any-link{
    text-decoration: none;
    color: white;
}
@media screen and (max-width : 600px) {
    .navbar{
        min-height: 12px;
        background-color: #263238;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 2px solid #ECEFF1;
        
    }
    .linksWebName{
        margin-left: 13%;
    }
}

/*AddCourse.jsx css*/
.assesment_weeks
{
    border: 3px solid #424242;
    width : 40%;
    padding : 2%;
    border-radius: 2em;
    margin-left : 30%;
}
.add{
    min-width: 15%;
    margin: 0 1% 1% 0;
    padding: 0.5%;
    border: 1px solid black;
    border-radius: 4px;
}
.desc_assessment{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
.code_name{
    margin-left: 43%;
}
.description_and_assessment
{
    min-width: 16%;
    text-align: center;
    padding: 1%;
    border-radius: 4px;
}
.description{
    border-radius: 4px;
    min-width : 20%;
    padding-bottom: 2%;
}
.labelName{
    font-family : 'Times New Roman', Times, serif;
    color: black;
    font-size: 1.2em;
    margin-left:0
}
.work{
    margin: 0  1% 1% 0;
    padding: 0.2%;
    margin-bottom: 1.5%;
    border: 1px solid black;
    border-radius: 4px;

}
.week{
    margin: 0  1% 1% 0;
    padding: 0.2%;
    margin-bottom: 1.5%;
    border: 1px solid black;
    border-radius: 4px;

}
.takeCourseTitle{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    margin: 3% 0 3% 0
}
.addCourse{
    width: 12%;
    border-radius: 8px;
    background-color: #311B92;
    border: 1px solid #311B92;
    margin-left : 60%;
    color:white
}
.addCourse:hover{
    background-color: #1A1F21;
    color: white !important;
}


@media screen and(max-width :1300px)
{
    .assesment_weeks{
        display: flex;
        flex-direction: column
    }
}


@media screen and (max-width: 560px)
{
    .assesment_weeks{
        border : none;
    }
    .add{
        margin-left: 0;
    }
}
@media screen and (max--width: 600px)
{
    .code_name{
        display : flex;
        flex-direction: column
    }
}
/*Home.jsx css*/


.search{
    width: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: white;
    background-image: url('./components/search.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
button{
    height: 46px;
    width: 80px;
}
button:hover{
    background-color: #263238;
    color: white;
}
button:active{
    background-color: #009688;
}

#content{
    position: absolute;
    left: 0;
    top: 16%;
    width: 100%;
    text-align: center;
}
.renderCourse{
    position: absolute;
    top: 34%;
    width: 70%;
    
}
p{  color: white;
    font-family: Courier New, Courier, monospace;
    
   
}
@media screen and  (max-width: 850px)
{
    p{
        color:black
    }
    
}
@media screen and (max-width : 700px){

    #content{
        position: absolute;
        left: 0;
        top: 30%;
        width: 100%;
        text-align: center;
    }
    .renderCourse{
        position: absolute;
        top: 55%;
        width: 90%;


    }
    p{
        
        color: black;
        position: relative;
        top:4em
    }
    .btn{
        width: 25%;
        position: relative;
        top: 4em
    }
    .search{
        position: relative;
        top: 4em
    }
    .seachButton{
        position: relative;
        top:4em;
    }
       
}

/*table css */
th{
    background-color: #4CAF50;
    color: white;
    
}
tr{
    color: white;
}
tr:hover{
    background-color: #E0E0E0;
}
.details{
    text-align: center;

}
.displayTable{
    width : 70%;
    margin-left: 20%;
}
.whiteText{
    color: white;
}

@media screen and (max-width : 700px) {
    .whiteText{
        color: black;
    }

    tr{
        color: black;
    }
}