body {
  margin: 0;
  padding: 0;
  
  background-image: url("background_display.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  
}

#overray{
  
 position: absolute;
  background-color: rgba(0, 0, 0, 0.20);
  top:0;
  bottom:0;
  height: 100%;
  width: 100%;
  z-index: -5;
}

@media screen and (max-width: 850px) {
  body{
    background-image: none;
    color : black !important;
  }

  #overray{
    
   position: absolute;
    background-color:white;
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
    z-index: -5;
  }
  
}